<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div>
    <div class="col-xs-12">
      <%=form_for @article, :html=>{class:"form-horizontal", role:"form"} do |item|%>
      
        <div class="form-group">
          <div class="control-label-col-sm-2">
            <%= item.label :title%> 
          </div>
          <div class="col-sm-12">
            <%= item.text_field :title, class: "form-control", placeholder: "Title of article" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label-col-sm-2">
            <%= item.label :description%> 
          </div>
          <div class="col-sm-12">
            <%= item.text_area :description, class:"form-control", rows: 10, placeholder: "Body of the article"%>
          </div>
        </div>
        <div class= "form-group">
          <div class="col-sm-offset-5 col-sm-10">
            <%= item.submit class:"btn btn-primary btn-lg"%>
          </div> 
        </div>
      <%end%>
      <div class="col-xs-12">
        [<%= link_to "Cancel request and go back to articles listing", articles_path%>]
      </div>
    </div>
  </div>
</div>